

/*Working code below*/

/* Default styles for navbar links */
.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: calc(100% - 1rem);
}

.navbar-nav .nav-link.active::after {
    width: calc(100% - 1rem);
}


/* Styles for navbar links when collapsed into toggler */
@media (max-width: 767px) {
    .navbar-collapse .navbar-nav .nav-link {
        text-align: right; 
    }

    .navbar-collapse .navbar-nav .nav-link::after {
        left: auto; 
        right: 0; 
        transition: width 0.3s ease; 
    }

    .navbar-collapse .navbar-nav .nav-link:hover::after,
    .navbar-collapse .navbar-nav .nav-link.active::after {
        width: 5%; 
    }
}
