<style>
    /* .carousel-control-prev,
    .carousel-control-next {
        font-size: 1.5rem; 
        background-color: rgba(0, 0, 0, 0.5); 
        border-radius: 50%; 
        padding: 10px; 
    } */

    /* .carousel-control-prev-icon,
    .carousel-control-next-icon {
        color: white; 
    } */

    /* .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(0, 0, 0, 0.7); 
    } */

    /* img {
        width: 100%;
        height: auto;
    } */
    
    .carousel {
        width: 100%;
        height: auto;
    }

    .carousel-item img {
        max-width: 100%;
        height: auto;
    }
    
    .carousel-image{
        display:flex;
        justify-content: center;
    }
</style>

<div id="carouselExampleControls" class="carousel slide" data-bs-interval="3000" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-image">
                <img src="~/images/007-craig.jpg" alt="Image 1">
            </div>
            <div class="carousel-caption">
                Caption for Image 1
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image">
                <img src="~/images/007musem-map.jpg" alt="Image 2">
            </div>
            <div class="carousel-caption">
                Caption for Image 2
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image">
                <img src="~/images/alicia_bond_angelica_bmwz3_goldeneye.jpg" alt="Image 3">
            </div>
            <div class="carousel-caption">
                Caption for Image 3
            </div>
        </div>
    </div>
</div>

